@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --clr-primary: hsl(150, 100%, 66%);
  --clr-secondary: hsl(228, 45%, 44%);
  --clr-grey-1: hsl(193, 38%, 86%);
  --clr-grey-2: hsl(217, 19%, 38%);
  --clr-grey-3: hsl(217, 19%, 24%);
  --clr-grey-4: hsl(218, 23%, 16%);
  --font-sans: 'Manrope', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--clr-grey-1);
  background-color: var(--clr-grey-4);
}

body {
  font-family: var(--font-sans);
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 54rem;
  height: 33.2rem;
  margin: 0 auto;
  background-color: var(--clr-grey-3);
  border-radius: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem 6.85rem;
  position: relative;
}

h1 {
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--clr-primary);
  margin-bottom: -4px;
}

.advice__text {
  line-height: 1.35;
}

button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: var(--clr-primary);
  border: none;
  transition: filter 300ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  filter: drop-shadow(0 0 2em var(--clr-primary));
}

button:active {
  filter: drop-shadow(0 0 1em var(--clr-primary));
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: var(--clr-secondary);
  text-decoration: none;
}

.hidden {
  display: none;
}

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c: no-repeat linear-gradient(var(--clr-primary) 0 0);
  background: var(--c) center/100% 10px, var(--c) center/10px 100%;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l16 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 37.45em) {
  body {
    font-size: 2.3rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  main {
    width: 34.4rem;
    height: 31.5rem;
    padding: 5rem 3rem 6rem;
  }
}
